
.button {
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-color: #2ecc71;
    background-image: none;
    border: 0;
    box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
    line-height: 1.33;
    padding: 10px 28px;
    border-radius: 3px;
    height: 55px
}