.footer {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 150%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100px;
  z-index: 11;
  & .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}

.footer__left {
    display: flex;
    align-items: flex-end;
}

.footer__logo-wrap {
    width: 80px;
    padding-right: 10px;
    height: 80px;
    margin-top: 10px;
}

.footer__title {
    color: #fff;
    font-size: 30px;
    padding-bottom: 12px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.875rem; }


.footer__socials-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.footer__socials-item {
  margin-right: 1rem;
}

.footer__socials-item:last-child {
  margin-right: 0rem;
}

.footer__telephone {
  text-decoration: none;
  position: relative;
  margin-bottom: 20px;
  display: block;
}

.footer__telephone-number {
  color: #fff;
  display: block;
  padding-left: 1.375rem;
  font-size: 20px;

}

.footer__telephone-svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 2px;
  left: 2px;
  fill: #fff; }

.footer__socials-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: block;
}

.social__svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #525252;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.footer__socials-link:hover .social__svg {
  fill: #fff; }
